<!-- <h1>Hello! Welcome</h1>
<app-textcomponent></app-textcomponent>
<app-imagecomponent></app-imagecomponent> -->
<!-- <h1>Employee Details</h1>
<app-emp-info></app-emp-info> -->
<!-- <h1>Form Control</h1>
<app-form-component></app-form-component> -->
<!-- <h1>Angular Services</h1>
<app-e-info></app-e-info> -->
<!-- <body>

    <app-navbar></app-navbar>
    <app-intro></app-intro>
    <app-courses></app-courses>
    <app-footer></app-footer>
</body> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>